

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 90vh;
  margin:auto;
  border: 1px gray solid;
  border-radius: 20px;
  box-shadow: white 0 0 20px;
  position: relative;
  background-color: white;
  & .inputArea{
    width: 80%;
    height:15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px lightgrey solid;
    & input, select{
      &:hover{
        cursor: pointer;
        transition: 0.3s all linear;
        box-shadow: black 0 0 10px;
      }
    }

  }
  & .buttonArea{
    width: 320px;
    margin: 10px auto 10px;
    display: flex;
    justify-content: space-between;
    & button{
      width: 45%;
      border: 1px black solid;
      border-radius: 4px;
      &:hover{
        cursor: pointer;
        transition: 0.3s all linear;
        box-shadow: black 0 0 10px;
      }
    }
  }

  & .dataArea{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
    overflow: hidden;
    margin-bottom: 40px;
    & .tableHead{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-weight: bold;
      & div{
        width: 150px;
        text-align: center;
      }
    }
    & .tableBody{
      width: 100%;
      overflow-y: scroll;
      & .tableItem{
        display: flex;
        align-items: center;
        justify-content: space-around;
        &:nth-of-type(odd){
          background-color: whitesmoke;
        }
        & div{
          width: 100px;
          text-align: center;

        }

      }

    }
  }
}